<% if resource.errors.any? %>
  <article class="message is-danger" id="error_explanation">
    <div class="message-header">
      <p><%= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) %></p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </div>
  </article>
<% end %>
