<div class="columns">
  <div class="column is-3">
    <div class="filters" id="stick">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat esse maxime tenetur a molestiae veritatis alias doloribus cum pariatur ipsa. Nulla nihil at commodi recusandae nesciunt voluptates quo nemo consequatur.
    </div>

  </div>
  <div class="column is-8 is-offset-1">
    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <%= link_to 'Nueva denuncia', new_complaint_path, class: "button is-danger is-medium" %>
      </div>
    </div>
    <%= render 'feed' %>
  </div>
</div>