<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="card">
      <div class="card-content">
        <%= render 'post' %>
        <hr>
        <div class="is-hidden">
          <span id="comments_count"></span>
        </div>
        <div id="comment_list" class="mb-5">
          <%= render @complaint.comments %>
        </div>
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>
