<div class="columns">
  <div class="column is-3">
    <div class="filters" id="stick">
      <%= render 'partials/filters' %>
    </div>

  </div>
  <div class="column is-9">
    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <%= link_to "#{t 'new'} #{Complaint.model_name.human}", new_complaint_path, class: "button is-danger is-medium is-outlined" %>
      </div>
    </div>
    <%= render 'feed' %>
    <br>
    <%= pagy_bulma_nav(@pagy).html_safe %>
  </div>
</div>