<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Proyecto Denuncia Ciudadana Proyecto Team 03</strong>
      Actividad proporcionada por
      <a href="http://www.brightcoders.com/">BrightCoders</a>
      . Repositorio en
      <a href="https://github.com/BC-MAR-21-ROR/proyecto-denuncia-ciudadana-proyecto-team03">Github</a>
      .
    </p>
  </div>
</footer>
