<div class="columns is-vcentered">
  <div class="column is-5">
    <figure class="image is-4by3">
      <%= image_tag "undraw_Access_account_re_8spm.svg", alt:"" %>
    </figure>
  </div>
  <div class="column is-6 is-offset-1">
    <h1 class="title">
      <%= t('.sign_in') %>
    </h1>
    <hr>
    <%= render 'form' %>
    <hr>
    <div class="">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
